<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.javatiaocao.myblog.mapper.LeaveMessageMapper"><!-- 命名空间，用来找到对应的xml文件 -->

  <select id="queryLeaveMessage" resultType="com.javatiaocao.myblog.model.LeaveMessage">
     select * from leave_message_record order by id desc
  </select>

    <select id="countLeaveMessageMapper" resultType="java.lang.Integer">
      select count(*) from leave_message_record
    </select>
</mapper>
