<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.javatiaocao.myblog.mapper.RewardMapper"><!-- 命名空间，用来找到对应的xml文件 -->

  <select id="getRewardInfo" resultType="com.javatiaocao.myblog.model.Reward">
      select * from reward order by rewardDate desc
  </select>

    <insert id="saveReward">
        INSERT INTO reward (fundRaiser,fundRaisingSources,fundraisingPlace,rewardMoney,remarks,rewardDate,rewardUrl) VALUES
        (#{fundRaiser},#{fundRaisingSources},#{fundraisingPlace},#{rewardMoney},#{remarks},#{rewardDate},#{rewardUrl})
    </insert>

    <delete id="deleteReward">
        DELETE from  reward WHERE id = #{id}
    </delete>
</mapper>
